{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended", // agregar el plugin de reactjs para eslint
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true // permite a eslint analizar los archivos jsx o tsx
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect" // para detectar la versión de reactjs
    }
  }
}
